{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/error.css' %}">
{%endblock%}

<!--Catches any 400 error bad requests-->

{% block content %}
<div class="container-400">
    <p class="page-title text-center mt-5">Error 400 "Bad Request"</p>
    <hr class="rehome">
    <br>
    <h2 class="text-center mt-3">Oh No! Looks like you made a bad request</h2>
</div>
<div class="gif text-center mt-5">
    <img src="" alt="bye">
</div>
<div class="text-center mt-5">
    <a class="btn btn-outline-secondary m-2" href="{% url 'error:bad_request' %}">Cancel</a>
</div>
{%endblock%}