{% extends "base.html" %}


{% block content %}


<div class="container-faq col-12">
    <div class="row justify-content-center">
        <div class="col-6">
            <h1 class="mt-5">Frequently Asked Questions</h1>
            <hr class="mt-0 mb-4">
            <ol>
                <li><strong>Is it cheaper to leave the heating on low all day, or just put it on when you need it?</strong><br>"It takes more energy to warm a house from cold than to maintain it at temperature. It is possible to set a modern thermostat to run at 19-21˚C during the times you want to be warm and set back the temperature to 15-16˚C at other times such as when you are out or overnight.
                    "It is important to run a heat pump more continuously and the setback temperature may be more like 17-19˚C. It is possible to improve the energy efficiency of a boiler by reducing the flow temperature on the boiler from about 80˚C to about 60˚C. The room may not heat up as fast, but will use less gas to keep it warm."</li>
                <li><strong> Does turning radiators down or off in unused rooms save energy when you put the heating on?</strong><br>"It will save money if you turn down the heating in unused rooms. This can be done by turning the thermostatic radiator valve (TRV) down. It is best not to turn it off entirely as this can reduce the risk of condensation and damp. The more hot radiators you have operating, the more energy you are using."</li>
                <li><strong>Is the quickest way to heat a cold home to turn it up as high as possible?</strong><br>"No! Some people turn the thermostat up to maximum to heat the home up quickly. Setting the thermostat to a much higher value makes no difference to the speed the home heats up. It does mean however that it overshoots the optimum temperature of 21˚C and wasting energy and money.</li>
                <li><strong>Should you leave your boiler on all day?</strong><br>"A gas boiler is not normally run all day. There will be times, particularly in the morning and evening when the programmer and room thermostat will be set to warm the house and the boiler will operate. At other times of day, the room thermostat is typically set to a lower temperature and the boiler rarely kicks in, or the programmer is set to turn the boiler off at these times.
                    "The boiler does not need to be turned off with a switch like an electrical appliance when you go out, it is best to use the programmer, thermostat and TRVs, or use the smart thermostat functionality on more modern systems. A heat pump tends to run all day, with a small reduction in room temperature at night or when residents are out."</li>
                <li><strong>Is it cheaper to heat water for cooking in the kettle, or on the hob?</strong><br>"It costs as much to heat water in a kettle as it does on an electric hob – both use about the same amount of electricity to heat the water. If you heat the water on a gas hob it will be cheaper as the cost of a unit of gas is cheaper than a unit of electricity."</li>
                <li><strong>How much could I save by not leaving appliances on standby?</strong><br>"The Energy Saving Trust has estimated it is possible to save £55 per year by switching off appliances left on standby. This can include appliances like TVs, but also microwave ovens and washing machines As appliances are becoming more energy efficient, the standby power losses are however becoming lower."</li>
                <li><strong>Does a phone or laptop that’s fully charged still use power while it’s plugged in? Could we save by unplugging them?</strong><br>"A phone or laptop will continue to draw some power from the mains while it is plugged in, even when it becomes fully charged."</li>
                <li><strong>Is a microwave cheaper for heating food than a hob?</strong><br>"A microwave can heat food more quickly than an oven and does not require time to heat up. A microwave is also likely to be quicker than heating food on a hob, but the difference is smaller. A gas hob is cheaper than an electric hob."</li>
                <li><strong>Is it cheaper to have a bath or a shower?</strong><br>"It will be cheaper to have a shower if you have a quick one. Those who spend 20 minutes in the shower could use more water than a large bath."</li>
                <li><strong>Does washing clothes at 30˚C actually clean them?</strong><br>"Much of the electricity consumption from washing clothes is from heating the water. Many clothes just need refresh which can even be done in a cold wash at 20˚C. Modern biological cleaners can remove all apart from the toughest stains at 30˚C. An advantage of washing at lower temperatures is that clothes are less likely to shrink or suffer from colour fading."</li>
            </ol>
        </div>
    </div>
</div>


{% endblock %}