<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>  
        </li>
        <li class="nav-item dropdown">
           
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="radiators-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Radiators
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="radiators-link">
                <a href="{% url 'products' %}?category=fans" class="dropdown-item">Fans</a>
                <a href="{% url 'products' %}?category=shelves" class="dropdown-item">Shelves</a>
                <a href="{% url 'products' %}?category=thermostats" class="dropdown-item">Thermostats</a>
                <a href="{% url 'products' %}?category=fans,shelves,thermostats" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="led-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                LED lights
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="led-link">
                <a href="{% url 'products' %}?category=indoor lights" class="dropdown-item">Indoor</a>
                <a href="{% url 'products' %}?category=outdoor lights" class="dropdown-item">Outdoor</a>
                <a href="{% url 'products' %}?category=indoor lights,outdoor lights" class="dropdown-item">All Light bulbs</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="insulation-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Insulation
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="insulation-link">
                <a href="{% url 'products' %}?category=loft" class="dropdown-item">Loft</a>
                <a href="{% url 'products' %}?category=doors windows" class="dropdown-item">Doors & Windows</a>
                <a href="{% url 'products' %}?category=loft,doors windows" class="dropdown-item">All Insulation</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'contact' %}" id="contact-link">
                Contact Us
            </a>  
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'newsletter' %}" id="newsletter-link">
                Newsletter
            </a>  
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% if request.user.is_authenticated %}{% url 'tips_and_tricks' %}{% else %}{% url 'account_login' %}{% endif %}" id="home-link"{% if not request.user.is_authenticated %}onclick="alert('You can only view this page if you are signed in');"{% endif %}>
                Tips and Tricks
            </a>  
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% if request.user.is_authenticated %}{% url 'faq' %}{% else %}{% url 'account_login' %}{% endif %}" id="home-link"{% if not request.user.is_authenticated %}onclick="alert('You can only view this page if you are signed in');"{% endif %}>
                FAQ
            </a>  
        </li>
    </ul>
</div>
