{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<!--Catches any 404 Not Found errors-->

<div class="overlay"></div>
<div class=".container-404 col-12">
    <h3 class="page-title text-center mt-5 ">Error 404 "Not Found"</h3>
    <hr class="rehome">
    <div class="gif text-center mt-5">
        <img src="https://res.cloudinary.com/dtqjcm9e6/image/upload/v1710872938/poorly_rjdhkg.png" alt="bye">
    </div>
    <div class="container-fluid row justify-content-center align-items-center mb-5">
        <div class="col-10 col-sm-7 col-lg-6 mt-4">
            <div class="text-center">
                <h1 class="display-4 logo-font text-black">
                    Sorry! that page is Not Found
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'home' %}" 
                        class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">
                        Return to shop</a>
                    </h4>
                </div>
            </div>
        </div> 
    </div>
</div>
{%endblock%}