{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<!--Catches any 404 Not Found errors-->

<div class="container-fluid">
    <div class="container-404">
        <p class="page-title text-center mt-5">Error 404 "Not Found"</p>
        <hr class="rehome">
        <br>
        <h2 class="text-center mt-3">Sorry! that page is Not Found</h2>
    </div>
</div>
<div class="text-center mt-5">
    <a class="btn btn-outline-secondary m-2" href="{% url 'home' %}">Return To The Home Page</a>
</div>
{%endblock%}