{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<!--Catches any 500 Internal server Errors-->

<div class=".container-500">
    <div class="container-fluid d-flex align-items-center justify-content-center" style="height: 100vh;">
        <div class="row">
            <div class="col-12 col-md-7 col-lg-6 text-center">
                <h1 class="display-4 logo-font text-black">
                    Oh No! Sorry theres a Server Error
                </h1>
                <div class="my-5">
                    <h4>
                    <a href="{% url 'home' %}" 
                    class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">
                    Return to shop</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}